body {
  background-image: linear-gradient(345deg, #333, #444);
}

.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

.canvas {
  background-color: #fff;
  background-image: 
    linear-gradient(45deg, #c4c4c4 25%, transparent 25%), 
    linear-gradient(-45deg, #c4c4c4 25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, #c4c4c4 75%), 
    linear-gradient(-45deg, transparent 75%, #c4c4c4 75%);
  

  background-size: 16px 16px;    
  background-position: 0 0, 0 8px, 8px -8px, -8px 0px;

  border: 1px solid #222;

  box-shadow: 0 0 10px -2px #000;
}
